/* Modern CSS Reset - Andy Bell (https://piccalil.li/blog/a-more-modern-css-reset/) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  line-height: 1.1;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 75ch;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration-skip-ink: auto;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}
